body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:973px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:28px;
  width:110px;
  height:30px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:28px;
  width:110px;
  height:30px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:28px;
  width:110px;
  height:30px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:28px;
  width:110px;
  height:30px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:28px;
  width:110px;
  height:30px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:29px;
  width:26px;
  height:28px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:28px;
  width:26px;
  height:30px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#000000;
  text-align:right;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:20px;
  width:96px;
  height:36px;
  font-size:10px;
  color:#000000;
  text-align:right;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:63px;
  width:940px;
  height:1px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:235px;
  width:320px;
  height:54px;
  text-align:right;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:235px;
  width:479px;
  height:62px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:334px;
  width:320px;
  height:35px;
  text-align:right;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:334px;
  width:487px;
  height:31px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:411px;
  width:320px;
  height:54px;
  text-align:right;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:411px;
  width:428px;
  height:23px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:484px;
  width:320px;
  height:35px;
  text-align:right;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:484px;
  width:479px;
  height:47px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:555px;
  width:320px;
  height:50px;
  text-align:right;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:555px;
  width:417px;
  height:16px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:624px;
  width:320px;
  height:35px;
  text-align:right;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:624px;
  width:557px;
  height:16px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:700px;
  width:320px;
  height:35px;
  text-align:right;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:700px;
  width:527px;
  height:31px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:774px;
  width:320px;
  height:54px;
  text-align:right;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:774px;
  width:506px;
  height:31px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:851px;
  width:320px;
  height:54px;
  text-align:right;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:851px;
  width:479px;
  height:16px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:924px;
  width:320px;
  height:54px;
  text-align:right;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:985px;
  width:305px;
  height:16px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:5px;
  background:inherit;
  background-color:rgba(38, 74, 96, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:61px;
  width:64px;
  height:5px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:924px;
  width:479px;
  height:16px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  word-wrap:break-word;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:143px;
  width:320px;
  height:35px;
  text-align:right;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:143px;
  width:479px;
  height:31px;
  font-family:'HelvNeueLightforIBM', 'HelvNeue Light for IBM';
  font-weight:400;
  font-style:normal;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  word-wrap:break-word;
}
